body{
    font-family: 'Varela Round', sans-serif;
    /* height: 3000px; */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.container{
    width: 80%;
    margin: auto;

}
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
    /* background-color: white; */
    
}

.header .logo{
    width: 40%;
    float: left;
}
.clear{
    clear: both;
}
.header .logo img{
    width: 20%;
    margin-top: 15px;

}
.header .nav{
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}
.header-contant::backdrop{
    /* overflow: hidden; */
}

.header .nav > li{

    display: inline-block;
}
.header .nav > li > a{
    font-size: 12px;
    text-decoration: none;
    color:white;
    padding: 30px 10px;
    display: block;
}
.header .nav > li > a::after,
.header .nav > li > a.activ::after{
    content: "";
    height: 3px;
    display: block;
    transition: width 0.2s ;
    background-color:#6195ff ;

}
.header .nav > li > a.activ::after{
    width: 100%;

}
.header .nav > li > a::after{
    width: 0;
}





.header .nav > li > a:hover::after{
    width: 100%;

}
.dropdown{
    position: relative;



}
.dropdown-contant{
    position: absolute;
    list-style: none;
    background-color: #6195ff;
    width: 100px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s,visibility 0.5s;

}
.dropdown-contant a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
    font-size: 13px;
}
.dropdown:hover .dropdown-contant{
    opacity: 1;
    visibility: visible;

}
.home{
    height: 100vh;
    background-image: url("../images/background/background1.webp");
    background-size: cover;
    text-align: center;
    position:relative;
}
.overlay{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.home-contant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    /* letter-spacing: 2px; */
    width: 65%;

}
.home .title{
    text-transform: uppercase;
    color: white;
    font-size: 3.1rem;

}
.home-des{

    margin:10px 0px 10px 0px ;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
}
.home .btn {
    width: 160px;
    padding: 15px ;
    border-radius:3px ;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;

}
.home .btn-start{
    margin-right: 15px;
    background-color: white;
}
.home .btn-learn{
    color: white;
    background-color: #6195ff;
}
.hover-opacity:hover {
    opacity: 0.8;
}

.hover-opacity{
    transition: opacity .2s;
}
.pd-y{

    padding: 120px 0px;
}
.section-header{
    text-align: center;
    margin-bottom:50px;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin: 40px 0px 10px;

}
.section-header .line{
    display: block;
    width: 35px;
    height: 3px;
    background-color: #6195ff;
    margin: auto;
}
.about-contant{
    overflow: hidden;
    
}
.about-item{
    width:30%;
    float: left;
    text-align: center;
    border:1px solid #e8e8e8 ;
    padding: 50px 20px;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon{
    color: #6195ff;
    margin-bottom:10px ;
}
.about-item-title{
    margin-bottom:15px ;
    text-transform: capitalize;
    
}
.about-item-des{
    line-height: 1.6;
    margin-bottom: 10px;
    color: #999;
}
.about-item-link{

    color: #6195ff;
    text-decoration: none;
}




.portfolio{
    background-color: #f1f1f1;
}
.portfolio-contant{
    overflow: hidden;
}
.portfolio-item{
    width: 32%;
    float: left;
    position: relative;
    padding: 20px;
    
}
.portfolio-item img{
    width: 100%;
}
.portfolio-item.mg{
    margin: 0 2%;
}
.portfolio-item.mar{
    margin-bottom:2% ;
}
.portfolio-item .layer-contant{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s,visibility 0.2s;
    
}

.portfolio-item:hover .layer-contant{
    opacity: 1;
    visibility: visible;

}
.layer-info{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.layer-contant .category{
    color: #6195ff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition:top 0.5s,opacity 0.3s,visibility 0.3s ;
    transition-delay: 0.1s;


}
.layer-contant-title{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.5s,opacity 0.3s,visibility 0.3s ;
    transition-delay: 0.2s;
} 

.layer-contant a i{
    line-height: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: white;
    position: relative;
    top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.5s,opacity 0.3s,visibility 0.3s;
    transition-delay: 0.4s;
}
.portfolio-item:hover .layer-contant-title,
.portfolio-item:hover .layer-contant .category,
.portfolio-item:hover .layer-contant a i{
    transition:top 0.5s,opacity 0.3s,visibility 0.3s ;
    top: 0;
    opacity: 1;
    visibility: visible;
}
.offer{

}
.offer-contant{
    overflow: hidden;
}
.offer-item{
    width: 30%;
    float: left;
    border:1px solid #e8e8e8 ;
    padding: 30px 15px 30px 70px;
    position: relative;

}
.offer-item.mg{
    margin: 0 2%;
}

.offer-item.mar{
    margin-bottom:2%;
}
.offer-item .icon{
    position: absolute;
    top: 35px;
    left: 22px;
    color: #6195ff;
}
.offer-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: 0.5s;
}
.offer-item-des{
    line-height: 1.6;
    color: #999;

}
.offer-item:hover .offer-item-title{
    color: white;

}
.service{
    background-color: #f1f1f1;
}
.service-item{
    width: 50%;
    float: left;
}
.service-item .section-header{
    text-align: left;

}
.service-item .section-header .line{
    margin: 0 0 40px 0 ;
}
.service-item-des{
    /* padding:0 20px 10px 0; */
    padding:0 20px 0 0;
    line-height: 1.5;
    font-size: 18px;
    color: #999;
    margin-bottom: 20px;
}
.service-list{
    list-style: none;
}
.service-list li i{
    border: 1px solid #6195ff;
    color: #6195ff;
    padding:4px 2px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    
  
}
.service-list li{
    margin-bottom: 10px;
    color: #999;
}
.service-item-img img{
    width: 100%;
}
.service-bollets li{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #dad6d6;
    border-radius:50% ;
    margin: 10px 5px;
    transition: background-color 0.2s;
}
.service-bollets{
    list-style: none;
    text-align: center;
}
.service-bollets li.active{
    background-color: #6195ff;
}
.service-bollets li:hover{
    background-color: #6195ff;
}



.numbers{
    position: relative;
    background-image: url(../images/background/background2.webp);
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}
.numbers-items{
    overflow: hidden;
    padding: 50px 0;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.number-item .icon{
    color: #6195ff;
    margin-bottom: 10px;
    
}
.number-item .number-item-title{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.number-item .number-item-text{
    color: white;
}


.pricing-plans{
    overflow: hidden;
}
.pricing-item{
    width: 30%;
    float: left;
    border: 2px solid #ebebeb;
    text-align: center;
    padding: 20px 15px;

    
}
.pricing-item.mg{
    margin: 0 5%;
}
.pricing-item-text{
    text-transform: uppercase;
    color: #999;

}
.pricing-item-permonth{
    border: 2px solid #6195ff;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    padding: 30px 0;
    margin: 20px auto ;

} 
.pricing-item-permonth .doller{
    font-size: 40px;
}
.pricing-item-permonth .month{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.pricing-list{
    list-style: none;
    line-height: 30px;
    color: #999;
}
.pricing-item-button{
    background:none;
    border: 0;
    display: block;
    width: 150px;
    margin: 15px auto 0 auto;
    padding: 15px 0;
    border: 2px solid #6195ff;
    color: #6195ff;

}
.tb-effect,
.ltr-effect{
    position: relative;
}
.pricing-item:hover::after{
    height: 100%;
    transition: height 0.5s;

}
.pricing-item:hover .pricing-item-permonth  {
    color: white;
    transition:color 0.5s ;

}
.pricing-item:hover .pricing-item-text{
    color: #6195ff;
    transition: color 0.5s;
}
.tb-effect::after{
    width: 100%;
    height: 0;
}
.ltr-effect::after{
    width: 0;
    height: 100%;
}
.ltr-effect::after,
.tb-effect::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index: -1;
   

}
.ltr-effect:hover::after{
    transition:  0.5s;
    width: 100%;
    content: "" ;
    color: white;
    
}
.ltr-effect:hover .about-item-title{
    color: white;
    transition:color 0.5s ;
}



.testimonail{
    position: relative;
    background-image: url(../images/background/background3.webp);
    background-attachment: fixed;
    height: 350px;

}
.testimonail-contant{
    overflow: hidden;
    padding: 110px 0;
    width: 80%;
    margin: auto;
}
.testimonail-item{
    font-family: Arial, Helvetica, sans-serif;
    color: white;       
    float: left;
    width: 50%;
}
.testimonail-item .testimonail-toplayer{
    position: relative;
    padding: 10px 2px 40px 90px;
}
.testimonail-item .testimonail-toplayer img{
    position: absolute;
    left: 10px;
    top: 10px ;
    border-radius: 100%;
    /* width: 55px;
    height:55px; */
}
.testimonail-item .testimonail-toplayer h3{
    margin: 5px 0;
   text-transform: capitalize;
   padding-top: 8px;
}
.testimonail-item .testimonail-toplayer .testimonail-item-text{
    color: #6195ff;
    padding-top: 8px;
}





.team-contant{
    overflow: hidden;
}
.team-item{
    width: 30%;
    float: left;
    background-color: #e8e8e8;
    padding: 40px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.team-item.mg{

    margin: 0 5%;
}
.team-item .team-img{
    width: 90%;
    margin: auto;
    position: relative;
}
.team-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    /* transition: opacity 0.5s,visibility 0.5s; */
}
.team-item:hover .team-overlay{
    opacity: 1;
    visibility: visible;
}
.team-item:hover::after{
    height: 100%;
    transition: height 0.5s;

}
.team-item:hover .team-info-text{
    color: #6195ff;
    transition: color 0.5s;
}
.team-item.tb-effect {
    z-index: 1;
}
.team-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: #6195ff;
    color: white;
    margin-left:auto ;    
}
.team-overlay a i{
    line-height: 40px;
}
.team-item .team-img img{
    width: 100%;
}
.team-item .team-info-title{
    color: #222;
    margin: 10px 0;
}
.team-item .team-info-text{
    color: #999;
    text-transform: uppercase;
    font-size: 14px;
}






